DATABASE_URL=postgres://postgres:postgres@localhost:5433/minishop
NATS_URL=nats://localhost:4222
NATS_BUY_INTENT_STREAM=BUY_INTENT_COMMANDS
NATS_BUY_INTENT_SUBJECT=buy-intent.command
MINISHOP_POSTGRES_PORT=5433
